{
	"extends": "eslint:recommended",
	"env": {
	  "browser": true,
	  "node": true,
	  "jest": true
	},
	"parserOptions": {
	  "ecmaVersion": 2020,
	  "sourceType": "module",
	  "ecmaFeatures": {
		"jsx": true
	  }
	},
	"rules": {
	  "no-unused-vars": "off" // 使用されていない変数に関する警告を無効化する
	}
  }
  